html {
  --white: #fff;
  --primary: #6A64D3;
  --primary-dark: #151345;
  --text-primary: var(--primary);
  --text-grey: #656565;
  --white-bg: var(--white);
  --intro-txt-color: var(--text-grey);
  --nav-text: var(--primary);
  --content-primary-bg: var(--primary);
  --card-bg: var(--white);
  --card-txt: var(--text-grey); }
  html[data-theme="dark"] {
    --white-bg: var(--primary-dark);
    --intro-txt-color: var(--white);
    --projects-bg: var(--primary-dark);
    --nav-text: var(--white);
    --content-primary-bg: var(--primary-dark);
    --card-bg: rgba(106, 100, 211, .2);
    --card-txt: var(--white); }

.bg-primary {
  background: var(--content-primary-bg);
  color: #fff;
  transition: background .15s; }

.text-primary {
  color: #6A64D3; }

.text-white {
  color: #fff; }

nav {
  background: var(--white-bg);
  padding: 1.55rem 1.8rem 1.15rem 2.5rem;
  box-sizing: border-box;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
  transition: background .15s;
  padding-bottom: calc(1.5rem + env(safe-area-inset-bottom)); }
  @media screen and (min-width: 768px) {
    nav {
      padding: 2rem 4rem 2rem; } }
  @media screen and (min-width: 1366px) {
    nav {
      padding: 2rem 4rem 2rem;
      position: absolute;
      top: 0;
      bottom: auto;
      right: 0;
      display: flex;
      justify-content: flex-end;
      background: none;
      margin-top: 1rem; }
      nav ul {
        max-width: 40rem; } }
  nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media screen and (min-width: 768px) {
      nav ul {
        justify-content: flex-end; } }
    nav ul .nav-item:last-of-type {
      padding-right: 0;
      margin-bottom: -0.25rem;
      padding: 0; }
      nav ul .nav-item:last-of-type a {
        font-size: 2rem;
        cursor: pointer; }
        nav ul .nav-item:last-of-type a:after {
          content: none; }
        nav ul .nav-item:last-of-type a i {
          display: inline-block;
          transition: transform .25s ease-in-out; }
        nav ul .nav-item:last-of-type a:hover i {
          transform: scale(1.2) rotate(30deg); }
      @media screen and (min-width: 768px) {
        nav ul .nav-item:last-of-type {
          margin-bottom: -.75rem; }
          nav ul .nav-item:last-of-type a {
            font-size: 2.2rem; } }
      @media screen and (min-width: 1024px) {
        nav ul .nav-item:last-of-type {
          margin-bottom: 0; } }
    nav ul .nav-item {
      opacity: 0;
      animation-duration: .5s;
      animation-delay: 2.8s;
      animation-fill-mode: forwards;
      animation-name: fadeIn-up; }
      @media screen and (min-width: 768px) {
        nav ul .nav-item {
          padding-right: 7rem;
          animation-name: fadeIn-right; }
        @keyframes fadeIn-right {
          0% {
            transform: translateX(200px); }
          100% {
            transform: translateX(0px) translateY(0px);
            opacity: 1; } } }
@keyframes fadeIn-up {
  0% {
    transform: translateY(100px); }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1; } }
    nav ul a {
      font-family: 'Cabin', sans-serif;
      font-weight: 700;
      text-decoration: none;
      color: var(--nav-text);
      font-size: 1.8rem;
      transition: color .15s;
      position: relative; }
      @media screen and (min-width: 768px) {
        nav ul a {
          font-size: 2.2rem; } }
      @media screen and (min-width: 1366px) {
        nav ul a:after {
          content: '';
          position: absolute;
          width: 0%;
          height: 3px;
          background: var(--nav-text);
          bottom: 0;
          left: 0;
          margin-bottom: -.15rem;
          transition: width .2s;
          transition-delay: .2s; }
        nav ul a:hover:after {
          width: 100%;
          transition: width .2s;
          transition-delay: .2s; } }

h1,
h2,
h3,
h4,
p,
li,
a {
  margin: 0; }

html,
body {
  font-size: 10px !important;
  touch-action: manipulation; }
  html section,
  body section {
    overflow: hidden;
    margin-top: -2px;
    padding-top: 2px; }
  html h1,
  body h1 {
    display: inline-block;
    font-family: 'Cabin', sans-serif;
    font-weight: 700;
    margin: 0;
    font-size: 4rem;
    line-height: 7rem; }
    @media screen and (min-width: 768px) {
      html h1,
      body h1 {
        font-size: 7.5rem;
        margin: 4rem 0 3rem;
        line-height: 5rem; } }
  html h2,
  body h2 {
    font-size: 1.8rem;
    line-height: 1.4;
    margin-bottom: 1rem; }
    @media screen and (min-width: 768px) {
      html h2,
      body h2 {
        font-size: 2.8rem;
        margin-bottom: .5rem; } }
  html p,
  body p {
    font-size: 1.6rem;
    line-height: 1.4; }
    @media screen and (min-width: 768px) {
      html p,
      body p {
        font-size: 1.8rem; } }
  html h2, html h3,
  body h2,
  body h3 {
    font-family: 'Raleway', sans-serif;
    font-weight: 500; }
  html p,
  html li,
  body p,
  body li {
    font-family: 'Raleway', sans-serif;
    font-weight: 400; }
    html p span,
    html li span,
    body p span,
    body li span {
      font-family: 'Raleway', sans-serif;
      font-weight: 500; }
  html small,
  body small {
    font-size: 1.4rem; }
    @media screen and (min-width: 768px) {
      html small,
      body small {
        font-size: 1.8rem; } }
  html a,
  body a {
    color: inherit;
    text-decoration: underline;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
    transition: all .25s; }
    html a:hover,
    body a:hover {
      filter: brightness(80%); }

.content-wrap {
  max-width: 1800px;
  padding: 0 2rem; }
  @media screen and (min-width: 768px) {
    .content-wrap {
      padding: 0 4rem; } }

#hero {
  background: var(--white-bg);
  position: relative;
  transition: background .15s;
  z-index: 2;
  min-height: 100vh; }
  #hero #intro {
    color: var(--intro-txt-color);
    position: absolute;
    z-index: 5; }
    #hero #intro h1 span,
    #hero #intro h2,
    #hero #intro p,
    #hero #intro small {
      opacity: 0;
      animation-fill-mode: forwards;
      animation-duration: .25s;
      animation-delay: 2.8s;
      animation-name: fadeIn-left; }
@keyframes fadeIn-left {
  0% {
    transform: translateX(-200px); }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1; } }
    #hero #intro h1 {
      margin-left: -.25rem; }
      #hero #intro h1 span:first-of-type {
        animation-delay: .5s; }
      #hero #intro h1 span:last-of-type {
        animation-delay: 1.5s; }
    #hero #intro small {
      font-size: 1.3rem;
      margin-top: .8rem; }
      #hero #intro small span {
        font-style: italic;
        font-size: 85%;
        opacity: .5; }
      @media screen and (min-width: 768px) {
        #hero #intro small {
          font-size: 1.8rem; } }
    #hero #intro p {
      font-size: 1.4rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 500; }
      #hero #intro p span {
        font-family: 'Raleway', sans-serif;
        font-weight: 600; }
      #hero #intro p a {
        font-family: 'Raleway', sans-serif;
        font-weight: 600;
        text-decoration: underline;
        color: #6A64D3; }
      @media screen and (min-width: 768px) {
        #hero #intro p {
          font-size: 2rem; } }
  #hero #hero-light {
    transform: scale(0);
    animation-name: headZoom;
    animation-duration: .15s;
    animation-delay: 1.51s;
    animation-fill-mode: forwards; }
@keyframes headZoom {
  0% {
    transform: scale(0);
    opacity: 0; }
  100% {
    transform: scale(1);
    opacity: 1; } }
    #hero #hero-light #cody {
      margin-top: 5rem;
      transform: scale(0.43); }
      @media screen and (min-width: 768px) {
        #hero #hero-light #cody {
          transform: scale(0.8);
          margin-top: 20rem; } }
      @media screen and (min-width: 1024px) {
        #hero #hero-light #cody {
          margin-top: 15rem; } }
      @media screen and (min-width: 1366px) {
        #hero #hero-light #cody {
          transform: scale(1.1);
          margin-top: 20rem; } }
      @media screen and (width: 1024px) and (height: 1366px) {
        #hero #hero-light #cody {
          margin-top: 10rem;
          transform: scale(1.2); } }
      @media screen and (min-width: 1440px) {
        #hero #hero-light #cody {
          margin-top: 10rem; } }
      #hero #hero-light #cody #cody-head {
        position: relative;
        width: 400px; }
        #hero #hero-light #cody #cody-head #head-img {
          width: 100%;
          pointer-events: none;
          z-index: 3;
          position: relative; }
        #hero #hero-light #cody #cody-head #thanks {
          position: absolute;
          top: 0;
          right: 0;
          font-family: 'Cabin', sans-serif;
          font-weight: 700;
          color: #6A64D3;
          font-size: 1.8rem;
          display: none; }
        #hero #hero-light #cody #cody-head .eyes #left-eye,
        #hero #hero-light #cody #cody-head .eyes #right-eye {
          position: absolute;
          z-index: 2;
          background: radial-gradient(circle, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 40%);
          transition: transform .15s; }
        #hero #hero-light #cody #cody-head .eyes #left-eye {
          top: 189px;
          left: 117px;
          width: 94px; }
        #hero #hero-light #cody #cody-head .eyes #right-eye {
          top: 189px;
          left: 221px;
          width: 94px; }
        #hero #hero-light #cody #cody-head .eyes img.laser-active {
          opacity: 0;
          transition: opacity .5s ease-in-out; }
        #hero #hero-light #cody #cody-head .eyes .eye-glow {
          top: 187px;
          display: block;
          position: absolute;
          transform: translateY(18px);
          background: turquoise;
          height: 32px;
          border-radius: 50%;
          z-index: 10;
          filter: blur(5px);
          width: 60px;
          opacity: 0;
          transition: opacity 1s; }
          #hero #hero-light #cody #cody-head .eyes .eye-glow.laser-active {
            opacity: 1; }
        #hero #hero-light #cody #cody-head .eyes div.eye-glow:first-of-type {
          left: 134px; }
        #hero #hero-light #cody #cody-head .eyes div.eye-glow:last-of-type {
          left: 237px; }
        #hero #hero-light #cody #cody-head .eye-back {
          background: white;
          width: 53%;
          height: 20%;
          display: block;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-46%, -74%);
          z-index: 1; }
          #hero #hero-light #cody #cody-head .eye-back.laser-active {
            background: turquoise;
            transition: background .05s ease-in-out; }
  #hero #hero-dark {
    animation-fill-mode: forwards;
    animation-duration: .15s;
    animation-delay: .15s;
    animation-name: fadeIn; }
@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    transform: translateX(0px) translateY(0px);
    opacity: 1; } }
    #hero #hero-dark #cody-dark {
      margin-top: 13.5rem;
      width: 50rem;
      height: 70rem;
      min-width: 80%;
      min-height: 50%;
      position: relative; }
      @media screen and (min-width: 768px) {
        #hero #hero-dark #cody-dark {
          margin-top: 28rem;
          width: 70rem;
          height: 70rem;
          min-width: auto;
          min-height: auto;
          position: relative; } }
      @media screen and (min-width: 1366px) {
        #hero #hero-dark #cody-dark {
          width: 95rem;
          height: 80rem; } }
      @media screen and (width: 1024px) and (height: 1366px) {
        #hero #hero-dark #cody-dark {
          width: 140rem;
          height: 80rem; } }
      #hero #hero-dark #cody-dark:after {
        display: none;
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 50%;
        left: 51%;
        width: 37%;
        height: 33%;
        background: rgba(106, 100, 211, 0.3);
        z-index: 1;
        transform: translate(-50%, 85%);
        filter: blur(3em);
        opacity: 0;
        border-radius: 50%;
        animation: flicker 1.25s 1;
        animation-fill-mode: forwards; }
        @media screen and (min-width: 768px) {
          #hero #hero-dark #cody-dark:after {
            transform: translate(-50%, 20%);
            height: 40rem; } }
        @media screen and (min-width: 1024px) {
          #hero #hero-dark #cody-dark:after {
            transform: translate(-50%, 5%);
            filter: blur(5em);
            height: 50rem; } }
    #hero #hero-dark object {
      width: 100%;
      position: relative;
      z-index: 2; }
      @media screen and (min-width: 768px) {
        #hero #hero-dark object {
          margin-top: 3rem; } }
@keyframes flicker {
  0% {
    opacity: 0; }
  40% {
    opacity: 0; }
  49% {
    opacity: 0; }
  50% {
    opacity: 1; }
  52% {
    opacity: 0; }
  59% {
    opacity: 0; }
  60% {
    opacity: 1; }
  63% {
    opacity: 0; }
  64% {
    opacity: 1; }
  100% {
    opacity: 1; } }
  #hero #hero-light,
  #hero #hero-dark,
  #hero #cody-dark {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%; }

html #hero #hero-light {
  opacity: 1;
  transition: opacity 1s; }
html #hero #hero-dark {
  display: none;
  opacity: 0;
  pointer-events: none; }
html #hero #intro small {
  display: inline-block;
  opacity: 1; }
html[data-theme="dark"] #hero #hero-light {
  opacity: 0 !important;
  pointer-events: none;
  transition: opacity .05s; }
html[data-theme="dark"] #hero #hero-dark {
  display: flex; }
  html[data-theme="dark"] #hero #hero-dark #cody-dark:after {
    display: block; }
html[data-theme="dark"] #hero #intro small {
  display: none;
  opacity: 1; }
html[data-theme="dark"] canvas {
  display: none; }

#laser-canvas {
  z-index: 5;
  position: absolute;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; }

#bug-wrap {
  position: absolute;
  top: 65%;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  z-index: 9; }

#bug {
  position: relative;
  transform: rotate(90deg);
  width: 25px;
  height: 25px;
  animation-name: fadeInBug;
  animation-duration: 2s;
  animation-delay: 3.75s;
  animation-fill-mode: backwards;
  cursor: crosshair;
  opacity: 1; }

#body {
  position: absolute;
  width: 50%;
  height: 70%;
  display: block;
  background: #6A64D3;
  border-radius: 50%;
  top: 13%;
  left: 50%;
  transform: translateX(-50%); }

#head {
  position: absolute;
  width: 38%;
  height: 30%;
  display: block;
  background: #6A64D3;
  border-radius: 50%;
  top: 6%;
  left: 50%;
  transform: translateX(-50%); }

#wings div {
  position: absolute;
  width: 42%;
  height: 30%;
  display: block;
  border: solid #6A64D3 1px;
  border-radius: 50%;
  top: 27%; }
#wings > div:first-of-type {
  left: -2%; }
#wings > div:last-of-type {
  right: -2%; }

#antennas .antenna {
  position: absolute;
  width: 5%;
  height: 40%;
  display: block;
  background: #6A64D3;
  border-radius: 40%; }
#antennas > div {
  top: -9%;
  left: 50%; }
#antennas > div:first-of-type {
  transform: translateX(-50%) rotate(45deg); }
#antennas > div:last-of-type {
  transform: translateX(-50%) rotate(-45deg); }

.wing {
  animation-name: flap;
  animation-duration: .2s;
  animation-iteration-count: infinite; }

#bug-master {
  display: none;
  width: 100vw;
  height: 100vh;
  z-index: 12;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: white;
  transition: opacity 1s ease-in-out;
  animation-name: bugMaster;
  animation-duration: 1s;
  animation-iteration-count: 1;
  animation-fill-mode: inherit; }
  #bug-master img {
    width: 100vw;
    top: 50%;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, -50%);
    position: fixed; }
    @media screen and (min-width: 768px) {
      #bug-master img {
        width: 60vw; } }
    @media screen and (min-width: 1366px) {
      #bug-master img {
        width: 50rem; } }

@keyframes flap {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@keyframes fadeInBug {
  0% {
    opacity: 0;
    width: 0px;
    height: 0px; }
  100% {
    opacity: 1;
    width: 25px;
    height: 25px; } }
@keyframes bugMaster {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }
#work {
  padding-top: 3.5rem; }
  #work .card-container {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem; }
    @media screen and (min-width: 1366px) {
      #work .card-container {
        flex-direction: row;
        margin-top: 3rem; } }
    #work .card-container .card {
      background: var(--card-bg);
      background-position: 50% 1000px;
      background-size: cover;
      border-radius: 1rem;
      margin-bottom: 4rem;
      padding: 1.25rem 2rem 2rem;
      position: relative; }
      @media screen and (min-width: 1366px) {
        #work .card-container .card {
          padding: 1.5rem 2.75rem 2.5rem;
          margin-right: 2rem;
          width: 33.3333%; }
          #work .card-container .card:last-of-type {
            margin-right: 0; } }
      #work .card-container .card:first-of-type .card-preview:before {
        background-image: url("../../assets/work/NewTabRotate.gif"); }
      #work .card-container .card:nth-of-type(2) .card-preview:before {
        background-image: url("../../assets/work/NoteBro.gif"); }
      #work .card-container .card:last-of-type .card-preview:before {
        background-image: url("../../assets/work/SmokeyGringo.gif"); }
    #work .card-container .card-title {
      font-size: 2.4rem;
      margin-bottom: .5rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 600;
      display: flex;
      align-items: center; }
      @media screen and (min-width: 768px) {
        #work .card-container .card-title {
          font-size: 3rem; } }
      #work .card-container .card-title button {
        background: none;
        border: none;
        font-size: 2.2rem;
        display: flex;
        align-items: center;
        margin-left: .75rem;
        color: #6A64D3;
        cursor: pointer; }
    #work .card-container .card-preview p,
    #work .card-container .card-preview a {
      opacity: 0; }
    #work .card-container .card-preview .card-ctas a {
      display: inline-flex;
      pointer-events: none; }
    #work .card-container .card-preview:before {
      visibility: hidden;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      background: black;
      background-size: contain;
      background-repeat: no-repeat;
      background-position: 50%;
      opacity: 0;
      transition: all .5s ease-in-out .15s; }
    #work .card-container .card-preview:hover:before {
      opacity: 1;
      visibility: visible; }
    #work .card-container .card-description {
      margin-bottom: 2rem; }
      @media screen and (min-width: 1024px) {
        #work .card-container .card-description {
          min-height: 20rem; } }
    #work .card-container .card-title,
    #work .card-container .card-description {
      color: var(--card-txt);
      transition: color .15s; }
    #work .card-container .card-ctas {
      margin-top: 3rem; }
      #work .card-container .card-ctas a {
        background: #6A64D3;
        padding: 1.15rem 1.25rem;
        border-radius: 1.25rem;
        font-family: 'Cabin', sans-serif;
        font-weight: 700;
        font-size: 1.6rem;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: .5rem;
        min-width: 8rem;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        transition: background .25s ease-in-out; }
        #work .card-container .card-ctas a:hover {
          background: #4f48cb;
          filter: none; }
        #work .card-container .card-ctas a i {
          margin-right: 1.25rem; }
        @media screen and (min-width: 768px) {
          #work .card-container .card-ctas a {
            font-size: 2rem;
            min-width: 8rem;
            padding: 2rem 3rem;
            margin-right: 1rem; } }
        @media screen and (min-width: 1024px) {
          #work .card-container .card-ctas a {
            padding: 1.75rem 2rem;
            font-size: 1.6rem; } }
        @media screen and (min-width: 1440px) {
          #work .card-container .card-ctas a {
            padding: 1.75rem 2.75rem; } }

#about {
  padding-bottom: 4rem; }
  @media screen and (min-width: 1024px) {
    #about p {
      font-size: 2rem; } }
  @media screen and (min-width: 1440px) {
    #about p {
      width: 74%; } }
  #about p:not(:last-of-type) {
    margin-bottom: 2rem; }
  #about p:nth-of-type(2) {
    margin-top: 3rem; }
  #about p:last-of-type {
    margin-top: 3rem; }
  #about ul {
    list-style-type: circle;
    margin-left: 3.5rem; }
  #about li {
    font-size: 1.4rem;
    line-height: 1.2;
    margin-bottom: 2rem; }
    @media screen and (min-width: 1024px) {
      #about li {
        font-size: 1.6rem; } }

html[data-theme="dark"] #contact {
  background-image: url("../../assets/contact/contact-background-dark.png"); }

#contact {
  min-height: 100vh;
  background-image: url(--contact-bg);
  background-size: cover;
  background-position: 87% 50%;
  background-image: url("../../assets/contact/contact-background-light.png");
  -webkit-transition: background-image .15s ease-in-out;
  transition: background-image .15s ease-in-out; }
  #contact h2 {
    margin: .5rem 0 1.5rem; }
  #contact a {
    font-size: 1.4rem; }
    #contact a i {
      margin-right: .5rem;
      font-family: 'Raleway', sans-serif;
      font-weight: 400; }
    @media screen and (min-width: 768px) {
      #contact a {
        font-size: 1.8rem; } }
  #contact p {
    line-height: 1.4; }
    #contact p a.contact-link {
      display: flex;
      align-items: center;
      margin-right: 2rem;
      text-decoration: none; }
    #contact p:first-of-type {
      margin-bottom: 2rem;
      display: flex;
      justify-content: flex-start; }
    @media screen and (min-width: 768px) {
      #contact p br {
        display: none; } }

footer {
  background: transparent;
  height: 3.5rem;
  margin-top: -8rem;
  color: var(--white); }
  @media screen and (min-width: 1366px) {
    footer {
      margin-top: -3.5rem; } }
  footer .content-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end; }
  footer a, footer small {
    color: var(--white);
    text-decoration: none;
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-weight: 400; }

/*# sourceMappingURL=main.css.map */
